
#rightNextButton{
    right: 15px;
    position: relative;
    float: right;
    /* background-color: #A0FAEB; */
    background-color: #000000;


}

#leftNextButton{
    left: 5px;
    position: relative;
    float: left;
    background-color: #A0FAEB;
}

.carousel-container{
      position: fixed;
      margin-right: 10px;
      padding-right: 10px;
      width: 100vw;
      min-height: 1000px;
      padding-left: 15px;
      background-image: url('https://images.homedepot-static.com/productImages/7888ad7d-d803-4644-ae83-e2e9beb7aa2c/svn/blue-ivy-hill-tile-ceramic-tile-ext3rd100048-64_1000.jpg');
      background-size: 200pct;
      opacity: 0.9;
  }

